@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import "tailwindcss";



@theme {
  --font-geist:  "Geist", sans-serif;
  --font-fraunces:  "Fraunces", sans-serif;
  --font-quicksand:  "Quicksand", sans-serif;
  
  
  /* --color-title: #0f1111; */
  --color-title: #1e2f23;
  --color-text: #333333;
  --color-main: #19b788;
  /* --color-main: #009999; */
  --color-secondary: #039387;
  --color-third: #f8ffa1;
  --color-footer: #0F5132;
  --color-ai: #ebf1ff;
  /* --color-gray: #eceef0; */
  /* --gray-color: #F8FAFC; 
  --light-color: #baece3; */
  /* --light-color: #eefffc;
  */
  /* --color-text: #4A5565; */
  
  --spacing-section: 50px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} 


* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-geist);
   line-height: 1.5;
}

@layer base {
  h1, h2, h3, h4 {
     @apply text-title
  } 

  li {
    @apply list-none
  }
  
  a {
    @apply no-underline font-normal cursor-pointer hover:text-main
  }
  
  button {
    padding: 5px 15px;
    cursor: pointer;
    font-family: inherit;
  }
}
