@import url("https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prociono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* font-family: "Prociono", serif */
@import "tailwindcss";

@theme {
  --font-geist: "Manrope", sans-serif;
  --font-fraunces: "Fraunces", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* --color-title: #0f1111; */
  /* --color-title: #1e2f23; */
  --color-title: #223f2b;
  --color-text: #333333;
  /* --color-text: #4A5565; */
  --color-main: #19b788;
  /* --color-main: #009999; */
  --color-secondary: #039387;
  /* --color-third: #f8ffa1; */
  /* --color-third: #E6F8B2; */
  --color-third: #CDE77F;
  --color-footer: #0f5132;
  --color-ai: #ebf1ff;
  /* --color-gray: #eceef0; */
  /* --gray-color: #F8FAFC; 
  --light-color: #baece3; */
  /* --light-color: #eefffc;
  */

  /* --spacing-section: 50px; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(235, 241, 255);
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-geist);
  line-height: 1.5;
  font-size: 16px;
  color: var(--color-text);
}

@layer base {
  * {
    @apply box-border;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-title;
  }
  h1 {
    @apply text-title text-[50px] font-bold;
  }

  h2 {
    @apply text-title text-[45px];
  }

  h3 {
    @apply text-title text-[25px];
  }
  h4 {
    @apply text-title text-[18px];
  }

  li {
    @apply list-none;
  }

  a {
    @apply no-underline text-[18px] font-medium cursor-pointer transition duration-300 ease-in-out hover:text-main ;
  }
}

@utility flex-center {
  @apply flex justify-center items-center;
}


