@import "tailwindcss";

:root {
  
  --color: #0F1111;
  --color: #19B788;
  --color: #039387;
  --color: #F8FFA1;
  --color: #EBF1FF;
  --color: #ECEEF0;
  --color: #BAECE3;
  --color: #333333;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
